* {
    box-sizing: border-box;
  }

  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    padding: 0px;
    margin: 0px;
  }
  nav {
    height: 80px;
    background-color: #E6E6E6;
    color: black;
  }

  .nav_container {
    width: 1536px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 190px;
    height: 80px;
    flex: 0 0 auto;
  }

  .navbur {
    padding: 0px 120px 0px 420px;
    flex-grow: 1;
  }

  .nav-content {
    height: 80px;
    padding: 0px;
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .nav-content li {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
  }

  .nav-content li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: Arial;
    font-weight: bold;
  }
  a.effect-underline:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: black;
    -webkit-transition: all .1s ease;
    transition: all 0.3s ease;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
  }

  a.effect-underline:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .mobile_nav_toggle {
    display: none;
    position: absolute;
    top: 0px;
    right: 10px;
    height: 80px;
    width: 80px;
  }

  .mobile_nav_toggle span {
    position: absolute;
    width: 27px;
    height: 3px;
    background-color: black;
    transition: all 200ms linear 0ms;
  }

  .mobile_nav_toggle span.top-bar {
    top: 33px;
    left: 15px;
    transform: rotate(0deg);
  }

  .mobile_nav_toggle span.middle-bar {
    top: 40px;
    left: 15px;
    opacity: 1;
  }

  .mobile_nav_toggle span.bottom-bar {
    top: 47px;
    left: 15px;
    transform: rotate(0deg);
  }

  .mobile_nav {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    height: calc(100vh - 49px);
    background-color: rgb(34, 34, 97);
    transition: 1s;
  }

  .mobile_nav.active {
    /* display: block; */
    opacity: 1;
    pointer-events: all;
    z-index: 4;
    width: 100%;
  }

  .mobile_nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .mobile_nav ul a {
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    text-decoration: none;
    padding: 25px 0px 25px 30px;
  }
  /* bammer */
  .banner {
    width: 100%;
  }
  .banner_picture {
    width: 100%;
    height: calc(80vh - 80px);
  }
  .banner_picture a {
    width: 100%;
    height: 100%;

    overflow: hidden;
  }
  .banner_picture img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  /* 關於電影 */
  /* 熱售中 */
  .section2 {
    position: relative;
    background-color: #2958A7;
    height: 600px;
  }
  .sale {
    text-align: center;
    max-width: 600px;
  }
  .about_movie {
    padding-top: 56px;
    padding-bottom: 28px;
  }
  .movies {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style-type: none;
    display: flex;
  }
  .movies_title {
    width: 50%;
    border: 1px solid black;
    font-size: 24px;
    line-height: 28px;
    font-family: Montserrat, sans-serif, 微軟正黑體;
    font-weight: 500;
    border: 0;
    color: white;
    background-color: #494e48;

  }
  .movie_a {
    background-color: #d87426;
  }

  .movies_title:hover {
    text-decoration: none;
    color: #eee;
  }

  .row_sale {
    justify-content: center;
    margin-bottom: 50px;
    margin: 0;
  }

  /* Swiper css */


  .all_movie {
    position: relative;
  }

  .movie_live {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .show {
    opacity: 1;
    pointer-events: all;

  }
  .swiper-container {
    width: 100%;
    height: 100%;
    background-color: #2958A7;
  }
  .product_swiper {
    height: 480px;
  }
  .comming_swiper {
    height: 480px;
  }

  .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .movie_img {
    max-width: 250px;
    margin: auto;
    height: 80%;
  }
  .movie_name p {
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    color: white;
    padding-top: 24px;
  }

  /* modal */
  .modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    outline: 0;
  }
  .modal-header {
    text-align: center;
  }
  .modal-title{
    width: 100%;
  }
  .modal-dialog {
    max-width: 750px !important;
    margin: auto;
  }
  .modal-content {
    max-width: 100%;

    outline: 0;
  }
  .button_w {
    width: 100%;
    height: 100%;
  }

  .movie_img img {
    width: 100%;
    height: 100%;
  }
  .movie_name {
    width: 100%;
    display: block;
    font-size: 28px;
    color: #003e52;
    padding: 5px 0;
    text-align: center;
  }

  .swiper-pagination span {
    margin-top: 60px;
  }
  .text-center img {
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    max-width: 100%;
    height: 500px;
  }
  .movie_time {
    border-top: none;
    border-right: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-image: initial;
  }
  .movie_time p {
    padding: 10px;
    color: #4e0060;
    font-weight: bold;
    margin: 0 0 10px;
  }

  /* 票價資訊 */
  .section3 {
    margin-top: 36px;
  }
  .banner_img{
      width: 100%;
  }
  .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
  }
  .container {
    padding: 0;
  }
  h1 {
    margin: 0;
  }
  td {
    line-height: 24px;
    font-size: 24px;
  }
  .ticket {
    width: 100%;
  }

  .ticket_title {
    font-size: 36px;
    line-height: 36px;
    color: black;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  [data-aos="example-anim1"] {
      transform: translateX(5px) translateY(10px);
      opacity: 0;
      transition-property: transform, opacity;
    }
    [data-aos="example-anim1"].aos-animate {
      transform: skewX(0);
      opacity: 1;
    }

  .ticket_all {
    margin: auto;
    display: flex;
  }

  /* 搜尋 */
  .search-movie {
    height: 601px;
    background-color: #2958A7;
    margin-top: 72px;
    margin-bottom: 36px;
  }
  .search-movie_title {
    padding-top: 160px;
  }
  .search-movie_title p {
    color: white;
    font-size: 48px;
    line-height: 100px;
    text-align: center;
    margin: 0;
  }
  .form {
    text-align: center;
  }
  .search {
    border: 1px solid #d1d1d1;
    font-size: 24px;
    padding: 8px 15px;
    width: 80%;
    max-width: 100%;
    resize: none;
    color: inherit;
    font-size: 24px;
    height: 70px;

  }
  .search_button{
    width: 100%;
    text-align: center;

  }
  .submit {
    border: none;
    padding: 15px 55px;
    cursor: pointer;
    border-radius: 2px;
    margin-top: 80px;
  }

  /* 關於親親 */
  .section4{
    background-color: #1377B2;
  }
  .media{
    margin-top: 20px;
  }
  .media_margin{
      margin-top:50px;
  }
  .about_theater_content{
    overflow: hidden;
    flex-wrap:wrap;
  }
  .about_theater_title {
    font-size: 36px;
    line-height: 36px;
    color: rgb(245, 185, 22);
    padding-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .media-body {
    margin: auto;
  }
  .img_size {
    width: 300px;
    height: 250px;
    margin: 0;
  }
  .img_size_big {
    width: 400px;
    height: 250px;
    margin: 0;
  }
  .media-body h5 {
    line-height: 28px;
    color: rgb(212, 209, 41);
  }
  .media-body p {
    line-height: 24px;
    font-size: 24px;
    color:#f3faf2;
  }

  /* 交通資訊 */
  .map_title {
    font-size: 36px;
    line-height: 36px;
    color: black;
    padding-top: 36px;
    display: flex;
    justify-content: center;
  }

  .map_all {
    position: relative;
    width: 100%;
  }
  .map {
    position: absolute;
    right: 0;
    top: 0;
  }
  .map iframe{
    width: 750px;
    height: 450px;
  }
  .map_phone h2 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
  }
  .map_phone p {
    line-height: 18px;
    font-size: 16px;
  }
  .map_address {
    margin-top: 56px;
  }
  .map_address h2 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
  }
  .map_address p {
    line-height: 18px;
    font-size: 16px;
  }
  .map_news {
    margin-top: 56px;
  }
  .map_news h2 {
    font-size: 28px;
    line-height: 28px;
    margin: 0;
  }
  .map_news p {
    line-height: 18px;
    font-size: 16px;
  }
  .map_news_text {
    margin: 0;
    margin-top: 18px;
    font-size: 28px;
  }
  .map_text {
    margin: 0;
  }

  /* 業務專區 */
  .section6{
    background-color: #34558b;
    padding-bottom: 72px;
  }
  .business_title {
    font-size: 36px;
    line-height: 36px;
    color: #9ee897;
    padding-top: 36px;
    display: flex;
    justify-content: center;
  }
  .card_text{
    background-color: #34558b;
  }
  .card-deck{
    margin: auto;
  }
  .card-title {
    text-align: center;
    color:white;
    border:1px solid black;
  }
  .card img {
    height: 400px;
  }

  .card-text{
    color:white;
  }


  /* footer */
  footer {
    width: 100%;
    height: 150px;
    background-color: #E6E6E6;
    position: relative;
    bottom: 3px;
  }
  .footer_con{
    display: flex;
    justify-content: space-between;
  }
  .footer{
    margin: 0px auto;
  }
  .footerlogo{
    width: 200px;
    height:150px;
  }
  .footer_logo{
    width: 120px;
    height: 100px;
    margin-top: 10px;
  }
  .footer_text{
    height: 48px;
    padding: 0px 100px 0px 0px;

  }
  .footer_logo img{
  width: 120px;
  height: 100px;
  }
  .footer_ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .footer_li {
    width: auto;
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  @media (max-width: 1680px) {
    .nav_container {
      width: 1336px;
    }
  }
  @media (max-width: 1460px) {
    .navbur {
      padding: 0px 60px 0px 120px;
    }

    .nav_container {
      width: 1136px;
    }

  }
  @media (max-width: 1280px) {
    .nav_container {
      width: 960px;
    }

    .footer .logo {
      width: 40px;
    }
    .submit {
    margin-top: 50px;
    }
    .map iframe{
      width: 600px;
    }
    .media_margin{
      margin-top:40px;
  }
  }
  @media (max-width: 1024px) {
    .nav_container {
      padding: 0px 30px;
      width: 100%;
    }

    .logo {
      width: 60px;
    }

    .navbur {
      padding: 0 0 0 120px;
    }

    .footer .logo {
      width: 80px;
      flex: 0 0 auto;
    }
    .nav_footer {
      width: 100%;
      height: auto;
      flex: 1 1 auto;
      padding: 0px;
    }
    .img_size{
      width: 250px;
      height: 180px;
    }
    .img_size_big{
      width: 320px;
      height: 200px;
    }
    .media-body h5 {
      font-size: 25px;
      color: rgb(205, 195, 50);
    }
    .media-body p {
      font-size: 21px;

    }
    .map iframe{
      width: 600px;
      height: 350px;
    }
    .map_phone h2 {
      font-size: 26px;
      line-height: 26px;
      margin: 0;
    }
    .map_phone p {
      line-height: 16px;
      font-size: 16px;
    }
    .map_address {
      margin-top: 36px;
    }
    .map_address h2 {
      font-size: 26px;
      line-height: 26px;
      margin: 0;
    }
    .map_address p {

      font-size: 16px;
    }
    .map_news {
      margin-top: 36px;
    }
    .map_news h2 {
      font-size: 26px;
      line-height: 26px;
      margin: 0;
    }
    .map_news p {
      line-height: 16px;
      font-size: 16px;
    }
    .map_news_text {
      margin: 0;
      margin-top: 16px;
      font-size: 26px;
    }
    .map_text {
      margin: 0;
    }
    .media_margin{
      margin-top:30px;
  }
  }
  @media (max-width: 990px){
    .map iframe{
      width: 500px;
      height: 300px;
    }
  }
  @media (max-width: 960px) {

    .img_size{
      width: 230px;
      height: 160px;
    }
    .img_size_big{
      width: 290px;
      height: 180px;
    }
    .media-body h5 {
      font-size: 20px;
      color: rgb(205, 195, 50);
    }
    .media-body p {
      font-size: 21px;
    }
    .media_margin{
      margin-top:20px;
  }
  }

  @media (max-width: 768px) {
    .navbur {
      display: none;
    }
    .mobile_nav_toggle {
      display: block;
    }
    .img_size{
      width: 200px;
      height: 120px;
    }
    .img_size_big{
      width: 240px;
      height: 140px;
    }
    .media-body h5 {
      font-size: 12px;
      color: rgb(205, 195, 50);
    }
    .media-body p {
      font-size: 21px;
    }
    .map iframe{
      width: 420px;
      height: 250px;
    }

  }
  @media (max-width: 670px) {
    body{
      overflow-x: hidden;
    }
    nav .logo {
      width: 30px;
    }
    .footer {
      width: 100%;
    }

    .footer_li {
    font-size: 8px;
    }
    .footer_text{
      padding: 0;
    }
    .dis-no{
      display: none;
    }
    .img_size{
      width: 150px;
      height: 160px;
    }


  }
  @media (max-width: 576px) {
    .card_text{
      width:350px;
      height:200px;
      }
    .card_ma{
      margin-top:120px;
    }
    .media_margin{
      margin-top:10px;
  }
  }
  @media (max-width: 490px) {
    .map{
      position: relative;
    }
  .map iframe{
    width: 400px;
  }
  .map_address{
    margin: 0;
  }
  .map_news{
    margin: 0;
  }
  .media_margin{
      margin-top:5px;
  }
  }
